[submodule "lefnire/ecb"]
	path = lefnire/ecb
	url = https://github.com/emacsmirror/ecb.git
[submodule "lefnire/egg"]
	path = lefnire/egg
	url = https://github.com/byplayer/egg.git
[submodule "lefnire/w3m"]
	path = lefnire/w3m
	url = https://github.com/emacsmirror/w3m.git
[submodule "lefnire/anything"]
	path = lefnire/anything
	url = https://github.com/emacsmirror/anything.git
[submodule "lefnire/auto-complete"]
	path = lefnire/auto-complete
	url = https://github.com/emacsmirror/auto-complete.git
[submodule "lefnire/yasnippet"]
	path = lefnire/yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "lefnire/nxhtml"]
	path = lefnire/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
